<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>game web server</title>
	<link rel="stylesheet" type="text/css" href="/lib/themes/default/easyui.css">
	<link rel="stylesheet" type="text/css" href="/lib/themes/icon.css">
	<link rel="stylesheet" type="text/css" href="/lib/demo/demo.css">
	<script type="text/javascript" src="/lib/jquery.min.js"></script>
	<script type="text/javascript" src="/lib/jquery.easyui.min.js"></script>
</head>
<body style="padding:0px; margin:0px; background:#EAEEF5;">
	<!-- <div style="margin:20px 0 10px 0;"></div> -->
	<div class="easyui-panel" title="后台管理系统" style="width:1918px;height:900px;padding:5px;">
		<div class="easyui-layout" data-options="fit:true">
			<div data-options="region:'west',split:true" style="width:100px;padding:10px">
				Left Content
			</div>
			<div data-options="region:'east'" style="width:100px;padding:10px">
				Right Content
			</div>
			<div data-options="region:'center'" style="padding:0px">
				<div class="easyui-tabs" data-options="tabWidth:100,tabHeight:50" style="width:1705px;height:850px">
			        <div title="<span class='tt-inner'><img src='/img/tab/modem.png'/><br>Modem</span>" style="padding:5px">
			            <ul>
							{{range .map_arr}}
							<li>name: {{.name}}   age: {{.age}}</li>
							{{end}}
						</ul>
						<ul>
							{{range .arr}}
							<li>car: {{.}}</li>
							{{end}}
						</ul>
			        </div>
			        <div title="<span class='tt-inner'><img src='/img/tab/scanner.png'/><br>Scanner</span>" style="padding:10px">
			            <p>In computing, an image scanner—often abbreviated to just scanner—is a device that optically scans images, printed text, handwriting, or an object, and converts it to a digital image.</p>
			        </div>
			        <div title="<span class='tt-inner'><img src='/img/tab/pda.png'/><br>Pda</span>" style="padding:10px">
			            <p>A personal digital assistant (PDA), also known as a palmtop computer, or personal data assistant, is a mobile device that functions as a personal information manager. PDAs are largely considered obsolete with the widespread adoption of smartphones.</p>
			        </div>
			        <div title="<span class='tt-inner'><img src='/img/tab/tablet.png'/><br>Tablet</span>" style="padding:10px">
			            <p>A tablet computer, or simply tablet, is a one-piece mobile computer. Devices typically have a touchscreen, with finger or stylus gestures replacing the conventional computer mouse.</p>
			        </div>
			    </div>
			</div>
		</div>
	</div>
	<div position="bottom" style="height:30px; line-height:30px; text-align:center;">
		Copyright &#169; 2010-2015 CHUKONG CO, INC. All Rights Reserved
	</div>
</body>
</html>